# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Prisma migrations
prisma/migrations/

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# Misc
*.swp
*.swo